node_modules
**/node_modules
**/node_modules/**
.git
.git/**
.env
.DS_Store
npm-debug.log*
yarn-error.log*
sessions
sessions/**
**/sessions
**/sessions/**
**/Default/Service Worker/**
**/Default/**
chrome-profile
**/chrome-profile
**/chrome-profile/**
.wwebjs_auth
**/.wwebjs_auth
**/.wwebjs_auth/**
.wwebjs_cache
**/.wwebjs_cache
**/.wwebjs_cache/**
logs/
**/logs/**
**/*.log
*.txt
*.md
!README.md
.vscode/
scratch/
bot_1/

